<!DOCTYPE html>
<html>
<% include ./partials/head %>

    <body>
        <img src="<%= gifUrl %>" alt="giphy!">
        <br>

        <span id='gameMenu'>
        <form action="./vote ">
            <p><input name="playerCaption" id="captionBox" placeholder="Type your caption here"></p>
            <br> <input type="submit" class="button" value="Submit Caption">
        </form>
        </span>

        <ul>
            <li>
                <p>
                    <%=player1Name %>
                </p>
                <p>Ready!</p>
            </li>
            <li>
                <p>
                    <%=player2Name %>
                </p>
                <p>Writing...</p>
            </li>
            <li>
                <p>
                    <%=player3Name %>
                </p>
                <p>Writing...</p>
            </li>
            <li>
                <p>
                    <%=player4Name %>
                </p>
                <p>Ready!</p>
            </li>
        </ul>

        <% include ./partials/scripts %>
    </body>

</html>